*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: black;
    height: 65px;
    color: white;
    display: flex;
    align-items: center;
    font-size: 27px;
    padding: 0 12px;
}
.gameContainer{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.container{
    display: inline-grid;
  grid-template-columns: repeat(3,10vw); 
  grid-template-rows: repeat(3,10vw); 
 
}

.box{
    border: 5px solid black;
    border-radius: 10px;
    font-size: 9vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gameInfo{
    padding: 0 34px;
}
.box:hover{
    background-color: chartreuse;
}
.imgBox img{
    width: 0;
    transition: width 1s ease-in-out;
}

.bt-0{
    border-top: 0;
}
.bb-0{
    border-bottom: 0;
}
.bl-0{
    border-left: 0;
}
.br-0{
    border-right: 0;
}

@media screen and (max-width:950px) {
    .gameContainer{
        flex-wrap: wrap;
    }
    .container {
        display: inline-grid;
        grid-template-columns: repeat(3, 25vw);
        grid-template-rows: repeat(3, 25vw);
    }
}